
body { background-color:#FFFFFF; }

/* Fonts in the title & headings */
h1.title { font-family: Arial,Helvetica,sans-serif; 
           font-size: 200%; font-weight: bold; text-align: center; }
h1 { font-family: Arial,Helvetica,sans-serif; 
     font-size: 200%; font-weight: bold; text-align: left; }
h2 { font-family: Arial,Helvetica,sans-serif; 
     font-size: 125%; text-align: left; }
h3 { font-family: Arial,Helvetica,sans-serif; 
     font-size: 100%; text-align: left; }
h4 { font-family: Arial,Helvetica,sans-serif; 
     font-size: 100%; text-align: left; }
p { font-family: Arial,Helvetica,sans-serif; font-size: 100%; } 
ul { font-family: Arial,Helvetica,sans-serif; font-size: 100%; } 
li { font-family: Arial,Helvetica,sans-serif; 
     font-size: 100%; margin-bottom: 3px; } 

/* fonts in specific sections */
div.body { font-family: Arial,Helvetica,sans-serif; font-size: 100%; }
div.footer { font-family: Arial,Helvetica,sans-serif; font-size: 80%; }
div.credits { font-family: Arial,Helvetica,sans-serif; font-size: 80%; text-align: right; margin: 10px }

/* Table attributes */
table { background: none; 
        font-family: Arial,Helvetica,sans-serif; font-size: 100%;
        margin-top: 12px;
        margin-bottom: 12px;
        border-spacing: 0px; 
        border-color: #008000; border-style: solid;
        border-width: 1px 1px 1px 1px; }
table.list { background: none; 
        font-family: Arial,Helvetica,sans-serif; font-size: 100%;
        margin-top: 12px;
        margin-left: 24px; 
        margin-bottom: 12px;
        border-spacing: 0px; 
        border-color: #008000; border-style: solid;
        border-width: 1px 1px 1px 1px }
table.footer { background: none;
        padding: 12px;
        margin-top: 3px; margin-bottom: 3px;
        margin-left: auto; margin-right: auto;
        font-family: Arial,Helvetica,sans-serif; font-size: 100%;
        border: 0 }
tr.heading { padding: 3px; font-weight: bold }
td { padding: 3px; text-align: center; 
     font-family: Arial,Helvetica,sans-serif; font-size: 100%;
     border-color: #008000; border-style: solid;
     border-width: 1px 1px 1px 1px }
td.footer { padding: 3px; 
     width: 100px;
     font-family: Arial,Helvetica,sans-serif; font-size: 80%;
     border:0 }

/* Image attributes */
img.index { border: none; }
img.slide { border: none; }
img.frame { border: none; }

/* Link attributes */
a:link { color: blue; }
a:visited { color: black; }
a:hover { color: blue; font-weight: bold; }
a:active { color: blue; font-weight: bold; }

